<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Air Quality Index</title>
</head>
<body>
    <div class="main-section">
        <div class="left-section">
            <div class="input-container">
                <form action="/" method="post">
                    <input type="text" name="city" id="city_input" autocomplete="off" placeholder="Search for cities" class="form-control">
                </form>
                <div class="result-section">
                    <div class="info">
                        <% if (locals.errorMessage) { %>
                            <div class="error">
                                <p><%= errorMessage %></p>
                            </div>
                        <% } else if(locals.cityName && locals.airQuality){ %>
                            <div class="content">
                                <h1 id="cityNameDisplay"><%= cityName %></h1>
                                <h2>Air Quality: <%= airQuality %></h2>
                                <h3 id="level-warning"></h3>
                            </div>
                        <% }%>
                    </div>
                </div>
            </div>
            <div class="today-forecast">
                <div id='map'></div>  
                <script src="https://maps.googleapis.com/maps/api/js"></script>
            </div>
        </div>
        <div class="right-section">
            <div class="seven-day-forecast">
                <% if (locals.weekly) { %>
                    <% for(let i = 0 ; i < weekly.length ; i++) { %>
                        <div class="daily">
                            <p> <%= new Date(weekly[i].day).toLocaleString("en-US", {weekday: "long"}) %></p>
                            <p>Air Quality: <%= weekly[i].avg %></p>
                        </div>
                        <% if(i !== weekly.length-1) { %>
                            <hr class="solid">
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        console.log('<%= locals.location %>');
        if('<%= location[0] %>' && '<%= location[1] %>'){
            let lat = '<%= location[0] %>';
            let long = '<%= location[1] %>';
            var map = new google.maps.Map(document.getElementById('map'), {  
                center: new google.maps.LatLng(lat, long),  
                mapTypeId: google.maps.MapTypeId.ROADMAP,  
                zoom: 7  
            });

            var t = new Date().getTime();  
            var waqiMapOverlay =  new google.maps.ImageMapType({  
                getTileUrl: function(coord, zoom) {  
                    return 'https://tiles.aqicn.org/tiles/usepa-aqi/' + zoom + "/" + coord.x + "/" + coord.y + ".png?token=_TOKEN_ID_";  
                },
                name: "Air Quality",  
            });  

            map.overlayMapTypes.insertAt(0,waqiMapOverlay);  
        }else {
            console.log("Location data not available.");
        }

        //quality indicator label
        let airLevel = '<%= airQuality %>';
        if(airLevel>=0 && airLevel<=50){
            $("#level-warning").text("Good").css('color', '#009966');;
        }else if(airLevel>=51 && airLevel<=100){
            $("#level-warning").text("Moderate").css('color', '#ffde33');;
        }else if(airLevel>=101 && airLevel<=150){
            $("#level-warning").text("Unhealthy for Sensitive Groups").css('color', '#ffde33');;
        }else if(airLevel>=151 && airLevel<=200){
            $("#level-warning").text("Unhealthy").css('color', '#ffde33');;
        }else if(airLevel>=201 && airLevel<=300){
            $("#level-warning").text("Very Unhealthy").css('color', '#ffde33');;
        }else if(airLevel>=301){
            $("#level-warning").text("Hazardous").css('color', '#ffde33');;
        }
    </script>
</body>
</html>