<body>
    <%- include("partials/header.ejs") %>
    <div class="main-section">
        <div class="left-section">
            <div class="input-container border">
                <form action="/" method="post">
                    <input type="text" name="city" id="city_input" autocomplete="off" placeholder="Search for cities" class="form-control">
                </form>
                <div class="result-section">
                    <div class="info">
                        <% if (locals.errorMessage) { %>
                            <div class="error">
                                <p><%= errorMessage %></p>
                            </div>
                        <% } else if(locals.cityName && locals.airQuality){ %>
                            <div class="content">
                                <h1><%= cityName %></h1>
                                <p>Air Quality: <%= airQuality %></p>
                            </div>
                        <% }%>
                    </div>
                    <div class="image">

                    </div>
                    
                </div>
            </div>
            <div class="today-forecast">

            </div>
            <div class="air-conditions">

            </div>
        </div>
        <div class="right-section">
            <div class="seven-day-forecast">
                <% if (locals.weekly) { %>
                    <% for(let i = 0 ; i < weekly.length ; i++) { %>
                        <div class="daily">
                            Air Quality: <%= weekly[i].avg %>, Date: <%= weekly[i].day %>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>